/*
============================
Name:  Email Marketing Sass Landing Page
Version: 1.0.0
Description:
Author:  Unifato
Author URI:
Location:
============================
*/
/*

CSS LIST

=<::::::::::::::::::::::::::=>
  HEADER AREA CSS
=<::::::::::::::::::::::::::=>
  NAV MENU AREA CSS
=<::::::::::::::::::::::::::=>
  WELCOME AREA CSS
=<::::::::::::::::::::::::::=>
  ABOUT AREA CSS
=<::::::::::::::::::::::::::=>
  SERVICE AREA CSS
=<::::::::::::::::::::::::::=>
  ACCOUNT AREA CSS
=<::::::::::::::::::::::::::=>
  FEATURES AREA CSS
=<::::::::::::::::::::::::::=>
  BRAND AREA CSS
=<::::::::::::::::::::::::::=>
  CHOOSE AREA CSS
=<::::::::::::::::::::::::::=>
  PRRELOADER AREA CSS
=<::::::::::::::::::::::::::=>
  PRICING AREA CSS
=<::::::::::::::::::::::::::=>
  TEAM AREA CSS
=<::::::::::::::::::::::::::=>
  TESTIMONIAL AREA CSS
=<::::::::::::::::::::::::::=>
  WORK AREA CSS
=<::::::::::::::::::::::::::=>
  OTHERS AREA CSS
=<::::::::::::::::::::::::::=>
  CONMMON AREA CSS
=<::::::::::::::::::::::::::=>
  BLOG AREA CSS
=<::::::::::::::::::::::::::=>
  CTA AREA CSS
=<::::::::::::::::::::::::::=>
 ANIMATION AREA CSS
=<::::::::::::::::::::::::::=>
  BUTTONS AREA CSS
=<::::::::::::::::::::::::::=>
  TYPOGRAPHY AREA CSS
=<::::::::::::::::::::::::::=>
  FOOTER AREA CSS
=<::::::::::::::::::::::::::=>
*/

@import '/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './components/fontawesome';
// @import '/node_modules/magnific-popup/dist/magnific-popup.css';
@import './components/select';
@import '/node_modules/slick-slider/slick/slick.css';
@import '/node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import '/node_modules/aos/dist/aos.css';
@import './components/mobile';


@import 'theme';
@import 'components';
@import 'layout';
